*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  border: 0;
}
button:hover {
  cursor: pointer;
}

input {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  outline: 0;
}

.simplebar-scrollbar::before {
  background-color: red;
}

.code {
  margin-top: auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.code__buttons {
  border-top: 1px solid black;
}
.code__btn {
  padding: 5px 15px;
  transition: background-color 0.3s;
}
.code__btn:hover {
  cursor: pointer;
  background-color: #ccc;
}
.code__out {
  padding: 15px;
  flex-grow: 1;
  width: 100%;
  /*         height: 100%; */
  resize: none;
  background-color: rgb(44, 44, 44);
  color: #7fffd4;
}
.code .scroll-wrapper {
  overflow: auto;
}

.sidebar {
  overflow: auto;
  width: 300px;
  background-color: #e1e1e1;
}

.sidebar-group {
  width: 100%;
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #e1e1e1;
  /*
  & label{
      position: relative;
      max-width: 200px;
      width: 100%;
  }*/
}
.sidebar-group__item {
  border-radius: 5px;
  position: relative;
  max-width: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sidebar-group__text {
  width: 100%;
}
.sidebar-group__desc {
  flex-basis: 100%;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
}
.sidebar-group__input {
  width: 70%;
  padding: 5px;
}
.sidebar-group__input_w-100per {
  width: 100%;
}
.sidebar-group__select {
  display: none;
  position: absolute;
  right: 0;
}
.sidebar-group .color-input {
  padding-right: 5px;
}

.button {
  padding: 5px 15px;
  background-color: #7fffd4;
}
.button__connect {
  margin: 0 40%;
  position: relative;
  left: -40%;
}
.button__active {
  background-color: red;
}

.add-input {
  border-bottom: 1px solid #c1c1c1;
}

.text-alighn-btn {
  margin-right: 15px;
  height: 20px;
  width: 20px;
  background-color: #7fffd4;
  font-size: 16px;
}
.text-alighn-btn:last-child {
  margin-right: 0;
}

.form-settings__label {
  position: relative;
  text-align: center;
  font-size: 25px;
  padding-bottom: 5px;
}
.form-settings__label:hover {
  cursor: pointer;
}

.form-settings__label {
  transition: background-color 0.3s;
  position: relative;
  background: #e1e1e1;
  z-index: 10;
}

.form-settings__label:after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 60%;
  margin-left: 20%;
  height: 1px;
  background: #c1c1c1;
}

.form-settings__wrapper {
  transition: all 0.3s;
  position: relative;
}

.form-settings__label:hover {
  background-color: #c1c1c1;
}

/* .form-settings_hidden {

    transition: max-height 0.5s, transform 0.3s;
    transition-delay: 0s, 0s;

    max-height: 0px;
    transform: translateX(-100%);

}

.form-settings_visible {

    transition: max-height 1s, transform 0.3s;
    transition-delay: 0s, 0.1s;

    max-height: 5000px;

    transform: translateX(0);

} */
.select {
  height: 28px;
}
.select.units {
  width: 30%;
}
.select_w_100per {
  width: 100%;
}
.select__input {
  text-align: center;
  width: 100%;
  height: 100%;
}
.select__input:hover {
  cursor: pointer;
}
.select__input:hover ~ ul {
  z-index: 100;
  display: block;
}
.select__ul {
  display: none;
  position: absolute;
  z-index: 10;
  left: 60%;
  width: 60px;
  background-color: white;
  text-align: center;
}
.select__ul:hover {
  display: block;
}
.select__li {
  position: relative;
  padding: 5px;
  transition: all 0.3s;
  margin-bottom: 5px;
}
.select__li:last-child {
  margin-bottom: 0px;
}
.select__li:hover {
  cursor: pointer;
}
.wrapper {
  max-width: 1920px;
  padding: 0;
  margin: 0 auto;
  display: flex;
}

body {
  overflow: hidden;
  background-color: #e1e1e1;
}

body,
.wrapper,
.main {
  height: 100vh;
}

.main {
  position: relative;
  /* background: linear-gradient(to top, rgba(0,212,255,1) 0%,  rgba(79,247,238,1)  100%); */
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e1e1e1;
}

.btn {
  margin-right: 15px;
  padding: 5px 10px;
  text-transform: capitalize;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #c1c1c1;
}

.window-create {
  display: none;
  padding: 30px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e1e1e1;
  border: 1px solid #c1c1c1;
  width: 400px;
  text-align: center;
}
.window-create__group {
  display: flex;
  flex-wrap: wrap;
}
.window-create__group:not(:last-child) {
  margin-bottom: 20px;
}
.window-create__label {
  display: inline-block;
  margin-bottom: 5px;
  width: 100%;
}
.window-create__select {
  width: 100%;
  text-align: center;
  padding: 5px;
  text-transform: capitalize;
}
.window-create__input {
  padding: 5px;
  width: 100%;
  text-align: center;
}
.window-create__input_w_50 {
  width: 45%;
}

.visible {
  display: block;
}

.btn-del {
  color: white;
  text-align: center;
  background-color: rgba(255, 0, 0, 0);
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  right: 10px;
  margin-top: -8px;
  border-radius: 5px;
  transition: all 0.3s;
}

.input-group {
  position: relative;
}
.input-group:hover .btn-del {
  background-color: red;
  cursor: pointer;
}

.topPanel {
  padding-top: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.label {
  /*     display: flex;
  flex-wrap: wrap;

  &-text {

      width: 100%;
  } */
}

.button-align {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

.scroll {
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  /* background: linear-gradient(to right, #ffddd600 30%, #ccc 30%, #ccc 70%, #dbdbdb00 70%); */
  background-color: transparent;
  width: 6px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 5px;
  width: 6px;
}/*# sourceMappingURL=style.css.map */