$lightgray: #f8f8f8;
$grey: #e1e1e1;
$darkgrey: #c1c1c1;

@import "_null", "_scroll", "_out", "_sidebar";

.wrapper {
    max-width: 1920px;
    padding: 0;
    margin: 0 auto;
    display: flex;
}

body {
    overflow: hidden;
    background-color: $grey;

}

body,
.wrapper,
.main {
    height: 100vh;
}


.main {
    position: relative;
    /* background: linear-gradient(to top, rgba(0,212,255,1) 0%,  rgba(79,247,238,1)  100%); */
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    background-color: $grey;
}

.result {}

.btn {
    margin-right: 15px;
    padding: 5px 10px;
    text-transform: capitalize;
    transition: background-color 0.3s;

    &:hover {
        background-color: $darkgrey;
    }
}

.window-create {
    display: none;

    max-height: 600px;
    overflow: auto;
    padding: 30px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: $grey;
    border: 1px solid $darkgrey;

    width: 400px;

    text-align: center;

    &__group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 20px;
        }


    }

    &__btn {}

    &__label {
        display: inline-block;
        margin-bottom: 5px;
        width: 30%;
    }

    &__select {
        width: 70%;
        text-align: center;
        padding: 5px;
        text-transform: capitalize;
    }

    &__input {
        padding: 5px;
        width: 70%;
        text-align: center;

        &_w_50 {
            width: 45%;
        }

    }
}

.radio-number {
    text-transform: capitalize;
    font-weight: 600;
    border-bottom: 1px solid $darkgrey;
    padding-bottom: 5px;
    margin-bottom: 10px;

}

.visible {
    display: block;
}

.btn-del {
    color: white;
    text-align: center;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 10px;
    margin-top: -8px;
    border-radius: 5px;
    transition: all 0.3s;
}

.input-group {

    position: relative;

    &:hover .btn-del {
        background-color: red;
        cursor: pointer
    }


}

.topPanel {
    padding-top: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.label {
    /*     display: flex;
    flex-wrap: wrap;

    &-text {

        width: 100%;
    } */
}



.button-align {
    width: 15px;
    height: 15px;

    margin-right: 8px;
}





.scroll {
    overflow: auto;
}

.scroll::-webkit-scrollbar {
    /* background: linear-gradient(to right, #ffddd600 30%, #ccc 30%, #ccc 70%, #dbdbdb00 70%); */
    background-color: transparent;
    width: 6px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 5px;
    width: 6px;
}